<a href="https://colab.research.google.com/github/akshatsoni64/DataSciencePractice/blob/master/PandasDemo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [0]:
import os
import pandas as pd
import numpy as np
os.chdir("/content/drive/My Drive/Colab Notebooks/DataSet")

In [16]:
cars_data=pd.read_csv("Toyota.csv",index_col=0)
print(cars_data.shape)

(1436, 10)

In [0]:
shallow_sample=cars_data(deep=False) # Shallow Copy - original is affected when modified 
# sample=cars_data # Shallow Copy
deep_sample=cars_data.copy(deep=True) # Deep Copy - original isnt affected when modified

In [17]:
cars_data.index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            1426, 1427, 1428, 1429, 1430, 1431, 1432, 1433, 1434, 1435],
           dtype='int64', length=1436)

In [18]:
cars_data.columns

Index(['Price', 'Age', 'KM', 'FuelType', 'HP', 'MetColor', 'Automatic', 'CC',
       'Doors', 'Weight'],
      dtype='object')

In [19]:
cars_data.size # Total cells in dataSet

14360

In [20]:
cars_data.shape

(1436, 10)

In [21]:
cars_data.memory_usage()

Index        11488
Price        11488
Age          11488
KM           11488
FuelType     11488
HP           11488
MetColor     11488
Automatic    11488
CC           11488
Doors        11488
Weight       11488
dtype: int64

In [22]:
cars_data.ndim

2

In [23]:
# Indexing and selecting data
cars_data.head(6) # returns first 6 rows from dataSet

   Price   Age     KM FuelType  HP  MetColor  Automatic    CC  Doors  Weight
0  13500  23.0  46986   Diesel  90       1.0          0  2000  three    1165
1  13750  23.0  72937   Diesel  90       1.0          0  2000      3    1165
2  13950  24.0  41711   Diesel  90       NaN          0  2000      3    1165
3  14950  26.0  48000   Diesel  90       0.0          0  2000      3    1165
4  13750  30.0  38500   Diesel  90       0.0          0  2000      3    1170
5  12950  32.0  61000   Diesel  90       0.0          0  2000      3    1170

In [24]:
cars_data.tail(5) # returns last 5 rows from dataSet

      Price   Age     KM FuelType   HP  MetColor  Automatic    CC Doors  Weight
1431   7500   NaN  20544   Petrol   86       1.0          0  1300     3    1025
1432  10845  72.0     ??   Petrol   86       0.0          0  1300     3    1015
1433   8500   NaN  17016   Petrol   86       0.0          0  1300     3    1015
1434   7250  70.0     ??      NaN   86       1.0          0  1300     3    1015
1435   6950  76.0      1   Petrol  110       0.0          0  1600     5    1114

In [25]:
cars_data.at[4,'FuelType'] # To access a scalar value by using column name

'Diesel'

In [26]:
cars_data.iat[5,6]# To access a scalar value by using column index

0

In [28]:
cars_data.loc[:,'FuelType'].head(5)

0    Diesel
1    Diesel
2    Diesel
3    Diesel
4    Diesel
Name: FuelType, dtype: object